

.toolbar{
    display: flex;
    
    align-items:center;
    justify-content:center;
    
}
.title{
    margin: 0.4em;
}
.toolbarMainButton{
    font-size: 1em;
   
   
}

.toolbarMainSearchBar{
    
    width: 20em;
    
}
#searchButton{
    width: 20em;
}
.nameLogout{
    display: flex;
  
    
}


.main-cointainer{

    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: center;
    
}
