<mat-toolbar class="toolbar">
  <span class="title">To do List</span>
</mat-toolbar>
<div class="main-container">
  <mat-drawer-container class="center-container">
    <mat-drawer mode="side" opened>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            New list
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>


        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="New list name" [formControl]="name" name="name" type="text">
          <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
        <button mat-button color="warm" (click)="onNewList()">Create</button>
      </mat-expansion-panel>

      <mat-list *ngFor="let list of lists">
        <a mat-list-item routerLink="/todoapp/{{list._id}}" class="link">


          <h4 mat-line>{{list.name}}</h4>

        </a>

      </mat-list>



    </mat-drawer>

    <mat-drawer-content>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            New Task
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>


        </mat-expansion-panel-header>
        <div class="task-panel">
          <mat-form-field>
            <input matInput placeholder="Task Name" [formControl]="taskTitle" name="taskTitle" type="text">
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Notes" [formControl]="taskBody" name="taskBody" type="text">
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>
          <button mat-button color="warm" (click)="onNewTask()">Create</button>
        </div>
      </mat-expansion-panel>


      <mat-list *ngFor="let task  of tasks">

          <mat-card>
        <section class="task-container">
          <div class="task-left">
            <h2>{{task.taskTitle}}</h2>
            <h4>{{task.taskBody}}</h4>

          </div>
          <div class="task-righ">
              <mat-checkbox class="example-margin" [(ngModel)]="task.isCompleted" (click)="onTaskCheckBox(task._id)">Completed</mat-checkbox>
            <button mat-button color="primary">delete</button>
          </div>

        </section>
      </mat-card>
      </mat-list>

    </mat-drawer-content>
  </mat-drawer-container>
</div>